doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      div.nav-home
        a(href="/") Home
      div.nav-links
        ul 
          if !currentUser
            li 
              a(href="/sign-up") Sign up
            li 
              a(href="/sign-in") Sign in
          else 
            li 
              a(href="/new-message") Post
            li 
              a(href="/log-out") Log Out
    block content
