doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      div.nav-home
        h1 Home 
      div.nav-links
        ul 
          li 
            h1 Sign-up 
          li 
            h1 Sign-in 
    block content
