extends layout 

block content 
    h1 Create a new message 
    div.form 
        form(action="" method="POST")
            label(for="title") Title: 
            input(type="text" name="title" required="true")
            label(for="body") Message: 
            input(type="text" name="body" required="true")
            button(type="submit") Submit