extends layout 

block content 
    h1 Create new user
    form(action="", method="POST")
        label(for="first_name") First Name: 
        input(type="text" name="first_name" required="true")
        label(for="last_name") Last Name: 
        input(type="text" name="last_name" required="true")
        label(for="username") Username: 
        input(type="text" name="username" required="true")
        label(for="password") Password: 
        input(type="text" name="password" required="true")
        button(type="submit") Submit