body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.nav {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.nav-home {
  padding-left: 1%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 25%;
  padding-right: 1%;
}

.nav-links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-links li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
} 

.message_board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.message {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1%;
  width: 80%;
}

.message_footer {
  display: flex;
  justify-content: space-between;
}