.nav {
    display: flex;
    min-height: 15vh;
    width: 100vw;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.nav_title {
    width: 75vw;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.nav_links {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}